<p>
    category works!
</p>


<table>
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories">
            <td>
                <a [routerLink]="['/','category-books', category.seo_url]">{{category.name}}</a>
            </td>
        </tr>
    </tbody>
</table>