
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" [routerLink]="['']">Boibazar</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['author']">Author</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['category']">Category</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['publisher']">Publisher</a>
    </li>
  </ul>
</nav>