<p>
  publisher works!
</p>
<table>
  <thead>
      <tr>
          <th>Name</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let publisher of publishers">
          <td>
              <a [routerLink]="['/','publisher-books', publisher.seo_url]">{{publisher.name}}</a>
          </td>
      </tr>
  </tbody>
</table>