<p>
    author works!
</p>

<table>
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let author of authors">
            <td>
                <a [routerLink]="['/','author-books', author.seo_url]">{{author.name}}</a>
            </td>
        </tr>
    </tbody>
</table>