<p>
  product works!
</p>

<table>
  <thead>
      <tr>
          <th>Name</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let product of products">
          <td>
              <a [routerLink]="['/','book', product.seo_url]">{{product.name}}</a>
          </td>
      </tr>
  </tbody>
</table>