
<table>
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of home">
            <td>
                <a [routerLink]="['lazy-book', product.seo_url]">{{product.name}}</a>
            </td>
        </tr>
    </tbody>
</table>